html,body{
    height: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    height: 100vh;
    max-height: 100vh !important;
    overflow: hidden;
}
main.main-content{
    width: 100%;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    padding-bottom: 1rem;
    @apply bg-slate-100;
}
:root{
    --primary-clr : #216fe6;
    --primary-clr-dark : #0654c9;
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark light;
    }
    
}
.link{
    color : var(--primary-clr);
}
.link:hover{
    color : var(--primary-clr-dark);
    text-decoration: underline var(--primary-clr-dark);
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    @apply bg-gray-100;
}
*::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
}
*::-webkit-scrollbar-thumb:hover {
    background: var(--primary-clr-dark);
}
.user-type-container{
    overflow: hidden;
}
.role-image-overlay{
    background: linear-gradient(var(--primary-clr-dark) , var(--primary-clr));
    position: absolute;
    inset: 0;
    height : 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    transition: transform 0.3s;
    transform: translateY(200%);
}
:is(.user-type-container:hover,.user-type-container:focus) > .role-image-overlay {
    transform: translateY(100%);
}
.aria-selected .role-image-overlay{
    transform: translateY(100%);
}

.progress-bar-container{
    width : min(700px , 100%);
}
.only-md-screen{
    @apply hidden md:flex
}
.only-small-screen{
    @apply block md:hidden
}
.only-lg-screen{
    @apply hidden lg:flex
}

.nav-user-name-displayer{
    font-size: 12px;
}
.open-aside-btn{
    position: absolute;
    right: 0;
    top: 4rem;
    transform: translate(50%, -50%);
}